.container {
    display: flex;
    flex-direction: column;
}


.contenedor-cuadrado {
    display: flex;
    

}

.cuadrado {
    width: 100px;
    height: 100px;
    background-color: rgb(61, 112, 156);
}